$bg-color : #eee;
$header-color : #ddd;

.main-color{
  background-color: $bg-color;
  min-height: auto;
  padding-bottom: 15px;
  border-radius: 15px;
}

.header-color{
  border-radius: 15px 15px 0 0;
  background-color: $header-color;
}