@import '~bootstrap/scss/bootstrap';

$nav-bg-color: #EEEEEE;
$nav-text-color: #343A40; 

// Path: src/App.js
.button-size{
    font-size: 20px;
}

.nav-text-color{
    color: $nav-text-color;
}

nav{
    background-color: $nav-bg-color;
}
