@import '~bootstrap/scss/bootstrap';

$nav-bg-color: #EEEEEE;
$nav-text-color: #343A40; 

// Path: src/App.js
.button-size{
    font-size: 20px;
}

.nav-text-color{
    color: $nav-text-color;
}

nav{
    background-color: $nav-bg-color;
}

.custom-dropdown {
    left: auto;
    right: 0;
    transform: translate3d(0px, 38px, 0px);
  }