@import '~bootstrap/scss/bootstrap';

$bg-color: #ccc;
$header-color: lightblue;
$text-color: #343A40;
$button-color: $text-color;
$white: #fff;

.main{
  background-color: $bg-color;
  min-height: 100vh;
  color: $text-color;
}

.btn.custom-button {
  background-color: $button-color !important;
  color: $white !important;
  // hover
  &:hover {
    background-color: darken($button-color, 10%) !important;
  }
}

.rounded-table {
  border-radius: 15px;
  overflow: hidden;
}